body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container-satu {
    max-width: 600px;
    margin: 0 auto;
}

.header {
    text-align: center;
    background-color: #eee;
    padding: 10px;
}

.header h1 {
    margin: 5px 0;
}

.content {
    display: flex;
}

.details {
    flex: 1;
    padding: 10px;
}

.judul {
    margin-bottom: 10px;
}

.judul_2 {
    margin-top: 10px;
}

.data {
    margin-bottom: 10px;
}

.foto {
    flex: 1;
    text-align: center;
}

.foto img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

.details p {
    margin: 5px 0;
}

.details b {
    font-weight: bold;
}

/* Add any additional styling as needed */
