<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <style> 
        body{
        font-family:'Montserrat';
        font-style: normal;
        font-weight: 400;
        }
        </style>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <main class="mx-20 mt-20">
        <!---->

    <div class="pt-10">
        <div class="flex items-center justify-center gap-4 mb-10">
            <img src="lambang-polinema1.png" class="w-20">
            <div class="font-bold">
                <h1 class="">POLITEKNIK<br> NEGERI MALANG</h1>
            </div>
        </div>
    </div>
    
        <!---->
        <div class="text-center mb-10">
            <h1 class="font-bold text-2xl mb-5">Admin Phone Number</h1>
            <div class="grid grid-cols-3 mb-6 font-bold">
                <img src="wa.png" class="w-10">
                <h1>+62 895355779622</h1>
                <h1> Admin 1</h1>
            </div>
            <div class="grid grid-cols-3 font-bold">
                <img src="wa.png" class="w-10">
                <h1>+62 8123456789112</h1>
                <h1> Admin 2</h1>
            </div>
            <a href="index.php">
            <div class=" bg-[#2D1B6B] w-full py-2 text-center rounded-md mt-4">
                <button type="submit"> 
                    <h1 class="text-white text font-bold">Kembali</button>
                </div>
            </a>
       </div>
        <!---->
    </main>
    
</body>
</html>
